.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainForm {
    display: active;
    width: 40%;
  }

.mainForm.active {
    display: none;
  }

.editForm {
    display: none;
}

.editForm.active {
    display: active;
}

.active {
    display: block;
}

.knopka {
  display: flex;
  justify-content: center
}